psycopg2-binary==2.9.9
aiopg==1.4.0
requests==2.32.3
aiohttp==3.10.5
fastapi==0.112.2
uvicorn==0.32.0
python-multipart==0.0.7
yoyo-migrations==7.3.2

# dev
pytest==7.1.2
pytest-asyncio==0.21.1
pytest-cov==5.0.0
# needed for tests by starlette
httpx>=0.22.0
