name: Pull Request Checks

on:
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  run-tests:
    name: Run pytest Tests
    runs-on: ubuntu-latest
    env:
      POSTGRES_USER: folksonomy
      POSTGRES_PASSWORD: folksonomy
      # Important: "localhost" does not work on GitHub CI, only 127.0.0.1
      POSTGRES_HOST: "127.0.0.1"
      POSTGRES_DATABASE: folksonomy
      POSTGRES_PORT: 5432

    steps:
      - name: Install PostgreSQL Client
        run: |
          sudo apt-get update
          sudo apt-get install -y postgresql-client

      - name: Checkout Project
        uses: actions/checkout@v6
        with:
          fetch-depth: 1

      - name: Install uv
        uses: astral-sh/setup-uv@v4
        with:
          enable-cache: true

      - name: Set up Python
        uses: actions/setup-python@v5.3.0
        with:
          python-version: "3.11"

      - name: Create pgdata Directory
        run: |
          mkdir -p ~/folksonomy_api/folksonomy_api/data/pg/pgdata
          sudo chmod -R 777 ~/folksonomy_api/folksonomy_api/data/pg/pgdata

      - name: Start PostgreSQL Docker Container
        run: ./start_postgres.sh &

      - name: Install Dependencies
        run: uv sync

      - name: Wait for PostgreSQL to be Ready
        timeout-minutes: 10
        run: |
          while ! pg_isready -h $POSTGRES_HOST -p $POSTGRES_PORT -U $POSTGRES_USER -d $POSTGRES_DATABASE; do
            echo "Waiting for PostgreSQL"
            sleep 1
          done

      - name: Initialize Database
        run: uv run python db-migration.py

      - name: Run Tests
        # Use PYTHONASYNCIODEBUG to ensure all asyncio tasks are closed
        env:
          PYTHONASYNCIODEBUG: 1
        run: uv run pytest -v --cov=off_folksonomy --cov-report xml tests/ src/

      - name: Upload Coverage Reports
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          fail_ci_if_error: true
          verbose: true
